<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<!--<connectionStrings>
		<add name="MyDbConnection"
			 connectionString="Data Source=(LocalDB)\MSSQLLocalDB;
                       AttachDbFilename=|DataDirectory|\EMC.mdf;
                       Initial Catalog=EMC;
                       Integrated Security=True;
                       Connect Timeout=30;
                       TrustServerCertificate=True"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>-->
	<connectionStrings>
		<add name="MyDbConnection"
			 connectionString="Data Source=LAPTOP-5DP1B434;Initial Catalog=EMC;Integrated Security=True;Trust Server Certificate=True"
			 providerName="System.Data.SqlClient"/>
	</connectionStrings>



	<appSettings>
		<!-- SQL Server Name -->
		<!-- <add key="ServerSQL" value="LAPTOP-5DP1B434"/> -->
		<add key="ServerSQL" value="localhost"/>
		<add key="DatabaseName" value="EMC"/>
		<add key="SQLServerPath" value="C:\Program Files\Microsoft SQL Server\Client SDK\ODBC\170\Tools\Binn\SQLCMD.EXE"/>
		<!-- <add key="SQLServerPath" value="C:\Program Files\Microsoft SQL Server\160\Tools\Binn\SqlLocalDB.exe"/> -->

		<!-- API ABENLA SMS OTP  -->
		<add key="LoginName" value="ABH3L79"/>
		<add key="Sign" value="907b6e128d10aeccf43319d6bc97b8a3"/>
		<add key="ServiceTypeId" value="535"/>
		<add key="BrandName" value="Verify3"/>
		<add key="CallBack" value="false"/>

		<!-- Email-->
		<add key="SmtpServer" value="smtp.gmail.com" />
		<add key="SmtpPort" value="587" />
		<add key="EnableSsl" value="true" />
		<add key="SenderEmail" value="emc.environmentmonitoring@gmail.com" />
		<add key="SenderPassword" value="wedy mfrj gbzb kjpf" />
		<add key="SenderDisplayName" value="EMC - Hệ Thống Quan Trắc Môi Trường" />
		<add key="CurrentStaffId" value="1" />

		<add key="EmailScheduleHour" value="13"/>
		<add key="EmailScheduleMinute" value="21"/>

		<!-- Light range chuẩn -->
		<add key="Face.LightOkMin" value="95"/>
		<add key="Face.LightOkMax" value="180"/>

		<!-- Ngưỡng chất lượng ảnh -->
		<add key="Face.Enroll.SkinHard" value="0.22"/>
		<add key="Face.Enroll.EdgeHard" value="22"/>
		<add key="Face.Change.SkinEasy" value="0.18"/>
		<add key="Face.Change.EdgeEasy" value="18"/>

		<!-- Retry tự động khi fail (nới ngưỡng dần) -->
		<add key="Face.AutoRelax.Retries" value="2"/>
		<add key="Face.AutoRelax.SkinStep" value="0.02"/>
		<add key="Face.AutoRelax.EdgeStep" value="2"/>

		<!-- API Weather Map-->
		<add key="AppId" value="c413e5f3789c1ef2ebeb75f6c67966a8"/>

		<!-- API Open Map-->
		<add key="OpenMap1" value="oWVLyB7qiQr1syflfaFRdj79kMEBwgqp"/>
		<add key="OpenMap" value="ypmU6sk24xuHcvOROo45SLbcb31IMiIl"/>

	</appSettings>
</configuration>
